* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    Garamond, "EB Garamond", "Goudy Old Style", "Apple Garamond", "Baskerville",
    "Times New Roman", serif;
}

h2 {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-size: inherit;
  color: #fff;
  height: 100vh;
  user-select: none;
  z-index: 99;
  mix-blend-mode: difference;
  font-family:
    Garamond, "EB Garamond", "Goudy Old Style", "Apple Garamond", "Baskerville",
    "Times New Roman", serif;
}

body {
  margin: 0;
  /* display: flex;
  justify-content: center;
  align-items: center;
  place-items: center; */
  overflow-x: hidden;
  background-color: #000;
  font-family:
    Garamond, "EB Garamond", "Goudy Old Style", "Apple Garamond", "Baskerville",
    "Times New Roman", serif;
}
